* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

body {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 640px;
  height: 487px;
  padding: 70px 80px;
  background: #000000;
}

.send-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send-num input {
  width: 331px;
  height: 51px;
  border-radius: 30px;
  border: 3px solid #2a2a2a;
  outline: none;
  padding-left: 28px;
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
}

.send-num button {
  width: 112px;
  height: 51px;
  border-radius: 30px;
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}

.show-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 478px;
  height: 128px;
  border-radius: 32px;
  padding: 0 50px;
  background: #303030;
  font-size: 50px;
  font-weight: 500;
  line-height: 87.14px;
}

.col-select {
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
}

.col-select input {
  width: 84px;
  height: 42px;
  border: 3px solid #2A2A2A9C;
}
